* {
margin: 0;
padding: 0;
}
@media only screen and (min-width: 200px) {
body {
  background-color: white;
}

/* OVERSKRIFT ARRUDA */
h1 {
  font-family: 'Cabin', sans-serif;
  font-size: 50px;
}
h1{
  text-align: center;
  margin-top: 0%;
  font-family: 'Palanquin Dark', sans-serif;
  float: center;
  margin-left: 12%;
}
/*
h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
}
h2 {
  text-align: center;
  margin-top: 20%;
  font-family: 'Palanquin Dark', sans-serif;
  float: center;
  margin-left: 12%;
  margin-right: 12%;
}
/*

/* MENUEN */
.btn-group button {
  text-align: center;
  margin-top: -4px;
  background-color: white; /* white background */
  border: 10px solid black; /* black border */
  color: black; /* black text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 15px;
}
.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group button:hover {
  background-color: black;
  color: white;
}

/* KURVEN */
img.kurv {
margin-right: 5%;
margin-top: 5%;
text-align: right;
position: relative;
}

/* FILTERKNAPPEN */
.filterknap button
{
  margin-top: 0px;
  background-color:black; /* white background */
 border: 10px solid black; /* black border */
  color: white; /* black text */
  padding: 2px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 15px;
}
.filterknap button:hover {
  background-color:white;
  color: black;
}

/* TARA BLUSE BILLED */
.pic img
{
  border: 20px solid black; /* black border */
  padding: 0%;
  margin-top: 10%;
}

/* TEXT UNDER BILLEDET*/
p
{
font-size: 20px;
font-family: 'Palanquin Dark', sans-serif;
margin-top: 2%;
margin-left: 5%;
margin-right: 5%;
}
.alignleft {
	float: left;
    margin-left: 5%;
}
.alignright {
	float: right;
  margin-right: 5%;
}
.bottommargin {
	margin-bottom: 25%;
}

/* scroll down knap*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  top: 10px; /* Place the button at the bottom of the page */
  right: 17px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 5px solid black;; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  border-radius: 0px; /* Rounded corners */
  font-size: 15px; /* Increase font size */
  font-family: 'Palanquin Dark', sans-serif;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/* VED SHOP DROP DOWN MENUEN */


/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: black;
}


/* The container <div> - needed to position the dropdown content - slettet display: inline-block;*/
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 29%;
  border: 10px solid black;
  z-index: 20;
  margin-left: 33%;
  margin-top: 17%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Palanquin Dark';
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: black;
  color: white;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;
  }


}
@media only screen and (min-width:1000px) {
body {
  background-color: white;
}
/* KURVEN */
img.kurv {
margin-right: 5%;
margin-top: 2%;
margin-bottom: 1%;
text-align: right;
position: relative;

}

/* MENUEN */
.btn-group button {
  margin-top: -4px;
  background-color: white; /* white background */
  border: 10px solid black; /* black border */
  color: black; /* black text */
  padding: 2px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 10px;
}
h1 {
  font-family: 'Cabin', sans-serif;
  font-size: 50px;
}
h1{
  text-align: center;
  margin-top: 0%;
  font-family: 'Palanquin Dark', sans-serif;
  float: center;
margin-left: 7%;
}
/* FILTERKNAPPEN */
.filterknap button
{
  margin-top: 0px;
  background-color: Black; /* white background */
  border: 5px solid black; /* black border */
  color: white; /* black text */
  padding: 2px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-family: 'Palanquin Dark', sans-serif;
  font-size: 10px;
}

.bottommargin, .alignright, .alignleft
{
display: none;
}
html {
    position: relative;
    min-height: 100%;
}
footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
}

/* VED SHOP DROP DOWN MENUEN */


/* Dropdown Button */
.dropbtn {
  background-color: white;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: black;
}


/* The container <div> - needed to position the dropdown content - slettet display: inline-block;*/
.dropdown {
  position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 33%;
  border: 10px solid black;
  z-index: 20;
  margin-left: 33%;
  margin-top: 2%;
    font-size: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: 'Palanquin Dark';
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: black;
  color: white;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;
  }


}
